body { background-color: green;}
#h {background-color:white; height: 10vh;}
#f {background-color:white; }
#lt {font-size: 18pt;}
#m {font-size: 18pt; text-align: center;}
img {width: 4.5vw; height:auto;}
input { width: 20%; height: auto;}

  
    









    

